body {
	margin-left: 120px;
}

* {
	font-family: 'Poppins', sans-serif;
}

.user {
	display: flex;
}

.userrightpart {
	display: flex;
	flex-direction: column;
}

.bgimage {
	width: 100%;
	height: 284px;
	position: flex;
}

.password_settings_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 97px;
	margin: 92px;
	background-color: #FFFFFF;
}

.pssetting_outersection {
	width: 358px;
	height: 452px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ps_header {
	display: flex;
	justify-content: center;
	font-weight: 545;
	font-size: x-large;
	margin-bottom: 33px;
	margin-top: 51px;
}

.ps_line {
	width: 356px;
}

.ps_info form {
	padding: 37px;
	background-color: #FFFFFF;
}

.ps_info .ps_info_one {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ps_info .ps_info_one .input-box {
	margin-left: 20px;
}

.ps_info .input-box {
	margin-bottom: 15px;
}

.ps_info .details {
	display: block;
	margin-bottom: 15px;
	font-weight: 400;
}

.ps_info input[type="text"] {
	width: 221px;
	height: 40px;
	background-color: #D1D8E2;
	padding: 8px;
	border: none;
	border-radius: 24px;
	box-sizing: border-box;
}

.ps_info input[type="text"]:focus {
	outline: none;
}

.buttons {
	margin-top: 20px;
}

.change-button {
	width: 125px;
	height: 50px;
	background-color: #3B5180;
	color: #F9E3E3; /* Text color */
	font-weight: 500;
	border: none;
	border-radius: 8px;
	padding: 18px 14px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-right: 23px;
}

.change-button:hover {
	background-color: #9BA4B4; /* Button color on hover */
}

.cancel-button {
	width: 125px;
	height: 50px;
	background-color: #E4DDDD;
	color: #000000; /* Text color */
	font-weight: 500;
	border: none;
	border-radius: 8px;
	padding: 18px 14px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-left: 20px;
}

.cancel-button:hover {
	background-color: #9BA4B4;
}

.dashboard {
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 350px;
	height: 846px;
}

.images {
	display: flex;
	align-items: center;
	margin-top: 64px;
	justify-content: center;
	flex-direction: column;
}

.images img {
	width: 158px;
	height: 137px;
	border-radius: 50%;
}

.options {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 48px 78px;
}

h2 {
	margin-bottom: 10px;
	font-size: 1.5rem;
}

a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: #333;
	padding: 16px;
}

a:hover {
	text-decoration: underline;
}