@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    overflow-x: auto; /* Allows horizontal scroll if content overflows */
}

/* Sidebar styles */
.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    width: 250px; /* Adjusted width for sidebar */
    height: 100vh;
    background-color: #F1F6F9;
    
}

.logo {
    height: 65px;
    width: 200px; /* Adjusted width */
    margin: 32px auto; /* Center the logo */
}

.input-box {
    width: 200px; /* Adjusted width */
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    margin: 16px auto; /* Center the input box */
}

.input-field {
    flex: 1;
    outline: 0;
    border: none;
    border-radius: 16px;
    background-color: #E2E9ED;
    font-size: 20px;
    color: #394867;
    padding-left: 30px; /* Adjusted padding for icon */
    width: 200px; /* Adjusted width */
    height: 56px;
}

.input-field::placeholder {
    color: #394867;
}

.icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #394867;
}

.horizontal_line {
    border-bottom: 1px solid #14274E;
    width: 200px; /* Adjusted width */
    margin: 16px auto; /* Center the line */
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    display: flex;
    align-items: center;
    margin-top:25px;
}

.menu ul li a img {
    margin-right: 10px;
}

/* Container styles */
.container li span {
    color: #14274E;
}

.container li a {
    margin-left: 20px; /* Adjusted margin */
}

.container li:hover {
    background-color: #14274E;
    width: 100%;
    color: white;
}

.container li:hover span {
    color: white;
}

.container li:hover img {
    filter: invert(100%);
}

.container a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}