@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.container {
	max-width: 600px;
	width: 590%;
	background-color: #fff;
	padding: 14px 16px;
	border-radius: 5px;
	padding-left: 20px;
}

.heading {
	font-size: 48px;
	font-weight: 300;
}

.container .title {
	font-size: 36px;
	font-weight: 700;
	position: relative;
}

.container .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	border-radius: 5px;
}

.content form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box input {
	/*width: 50vh;*/
	padding: 14x 16px;
}

form .input-box span.details {
	display: block;
	font-weight: 500;
	font-size: 16px;
}

.user-details .input-box input {
	height: 39px;
	width: 100%;
	padding: 14px 16px;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #cbcbcb;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.user-details .input-box input:focus, .user-details .input-box input:valid
	{
	border-color: #6d6d6d;
}

form .category {
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}

form .category label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

form .button {
	height: 45px;
	margin: 35px 0
}

form .button input {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: linear-gradient(135deg, #111112, #363437);
}

form .button input:hover {
	/* transform: scale(0.99); */
	background: linear-gradient(-135deg, #4e4f50, #070707);
}

@media ( max-width : 584px) {
	.container {
		max-width: 100%;
	}
	form .user-details .input-box {
		margin-bottom: 5px;
		width: 100%;
	}
	form .category {
		width: 100%;
	}
	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}

@media ( max-width : 459px) {
	.container .content .category {
		flex-direction: column;
	}
}

.p {
	text-align: center;
}

.login-link {
	text-align: center;
	margin-top: 20px; /* Adjust as needed */
}

.image-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-left: 30px;
}

.image-container img {
	max-width: 40px;
	height: auto;
	display: flex;
	justify-content: flex-end;
}